:root {
    --main-color: #231F20;
    --second-color: #837354;
    --font-color: #DEC088;
}

body {
    background-color: var(--main-color);
}

.navbar {
    background-color: var(--main-color);
    position: absolute;
    width: 100%;
}

.nav-link {
    color: var(--font-color);
}

.img-profissional {
    max-width: 50%;
    height: auto;
}

.inicio {
    background-image: url(./assets/bg2.jpg);
    height: 100vh;
    
}

.sobre {
    background-color: var(--main-color);
    
}

.servicos {
    background-image: url(./assets/bg4.jpg);
}

.contato {
    background-color: var(--main-color);
}

.inicio_container {
    width: 100%;
    max-width: 100%;
    background-color: rgba(131, 115, 84, 0.8);
    padding: 20px;
    box-sizing: border-box;
}

.form_contact {
    background-color: var(--second-color);
}

.inicio,
.servicos,
.sobre,
.contato {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--main-color);
    color: var(--font-color);
    flex-direction: row;
    max-width: 65em;
    border: none;
    border-radius: 2em;
   
}

.card-text {
    text-align: justify;
}

.img_servicos {
    width: 13%;
}

.footer {
    background-color: var(--second-color);
    color: var(--main-color);
}

.contact_whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 100%;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

.btn_agendar_consulta {
    background-color: var(--font-color);
    color: var(--main-color);
}

.btn-primary {
    background-color: var(--main-color);
    color: var(--font-color);
    border: solid 2px var(--main-color);
}

.nav-link:hover,
.nav-link:active{
    color: var(--second-color);
}
.btn-primary:hover,
.btn-primary:active {
    --bs-btn-hover-bg: var(--second-color);
    --bs-btn-active-bg: var(--main-color);
    --bs-btn-border-color: var(--main-color);
    --bs-btn-bg: var(--main-color);
    --bs-btn-border-color: var(--main-color);
    --bs-btn-hover-border-color: var(--main-color);
    --bs-btn-active-bg: var(--main-color);
    --bs-btn-active-border-color: var(--main-color);
    --bs-btn-color: var(--main-color);
    --bs-btn-hover-color: var(--main-color);
}

.btn_agendar_consulta:hover,
.btn-primary:active{
    background-color: var(--main-color);
    border: solid 2px var(--font-color);
    color: var(--font-color);
}
           
.text {
    color: var(--main-color);
}

@media (max-width: 768px) {

    .navbar {
        position:relative;
    }

    .inicio,
    .sobre,
    .servicos,
    .contato{
        background-attachment: scroll;
        height: auto;
    }

    .img_servicos{
        width: 20%;
        padding: 0;
    }

    .servicos_title{
        color: var(--main-color);
        font-size: 2.5em;
    }  

    
}

@media screen and (min-width: 750px) and (max-width: 1024px) {

    
    .inicio,
    .sobre,
    .servicos,
    .contato{
        background-attachment: scroll;
    }
}