/* Table */
.table th {
    border: none;
    border-bottom: none;
}

table th:first-child {
    border-radius: 5px 0 0 5px;
}

table th:last-child {
    border-radius: 0 5px 5px 0;
    border-color: none;
}

.table {
    --bs-table-hover-color: var(--font-color);

}

.table thead th {
    border-bottom: 0px;
}

.table td {
    border-top: 0px
}


thead tr:last-child,
#userMeasurementsTableBody tr:last-child,
#userMeasurementsTableBody tr:first-child {
    background-color: rgb(42, 42, 41);
    color: var(--main-color);
}

/* Accordion */
.accordion {
    --bs-accordion-color: var(--font-color);
    --bs-accordion-bg: var(--main-color);
    --bs-accordion-active-color: var(--main-color);
    --bs-accordion-active-bg: var(--main-color);
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-border-color: var(--opacity-color);
}

.accordion-custom {
    --bs-accordion-active-bg: var(--font-color);
    --bs-accordion-border-radius: 2em;
    --bs-accordion-inner-border-radius: 2em;
}

.accordion-button {
    background-color: var(--font-color);
}

.accordion-button:not(.collapsed) {
    background-color: var(--font-color);
    color: var(--main-color);
}

.accordion-button-custom.collapsed {
    background-color: var(--main-color);
    color: var(--font-color);
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231d1d1b'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-button-custom:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e3c58b'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231d1d1b'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-button:focus {
    box-shadow: none;
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Button */

.btn-link {
    color: var(--font-color);
    --bs-btn-active-color: var(--opacity-color);
    --bs-btn-hover-color: var(--opacity-color);
    --bs-btn-color: var(--opacity-color);

}

.btn:focus,
.btn:active {
    outline: none;
    box-shadow: none;

}
