@media print {
    body, html {
        margin: 0 !important;
        padding: 0 !important;
    }

    #sidebar, header, footer, #comments {
        display: none !important;
    }

    .main_container  {
        margin: 0 !important;
        width: 100% !important;
        padding: 0 !important;

    }

}
